<!--
  Generated template for the VideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Video</ion-title>
  </ion-navbar>
  <iframe *ngIf="!device.isWeb" width="100%" [height]="device.isWeb ? 650:250" [src]="'' | youtube" frameborder="0" allowfullscreen></iframe>
</ion-header>


<ion-content>
  <ion-card class="cardStyle">
    <ion-card-header>card</ion-card-header>
    <ion-card-content>

      <iframe *ngIf="device.isWeb" width="100%" [height]="device.isWeb ? 650:250" [src]="'' | youtube" frameborder="0" allowfullscreen></iframe>

    </ion-card-content>
  </ion-card>

</ion-content>
