page-bible {
  .text32pt {
    font-size: 32pt;
    line-height: 150%;
    user-select: text;
  }
  .text31pt {
    font-size: 31pt;
    line-height: 150%;
    user-select: text;
  }
  .text30pt {
    font-size: 30pt;
    line-height: 150%;
    user-select: text;
  }
  .text29pt {
    font-size: 29pt;
    line-height: 150%;
    user-select: text;
  }
  .text28pt {
    font-size: 28pt;
    line-height: 150%;
    user-select: text;
  }
  .text27pt {
    font-size: 27pt;
    line-height: 150%;
    user-select: text;
  }
  .text26pt {
    font-size: 26pt;
    line-height: 150%;
    user-select: text;
  }
  .text25pt {
    font-size: 25pt;
    line-height: 150%;
    user-select: text;
  }
  .text24pt {
    font-size: 24pt;
    line-height: 150%;
    user-select: text;
  }
  .text23pt {
    font-size: 23pt;
    line-height: 150%;
    user-select: text;
  }
  .text22pt {
    font-size: 22pt;
    line-height: 150%;
    user-select: text;
  }
  .text21pt {
    font-size: 21pt;
    line-height: 150%;
    user-select: text;
  }
  .text20pt {
    font-size: 20pt;
    line-height: 150%;
    user-select: text;
  }
  .text19pt {
    font-size: 19pt;
    line-height: 150%;
    user-select: text;
  }
  .text18pt {
    font-size: 18pt;
    line-height: 150%;
    user-select: text;
  }
  .text17pt {
    font-size: 17pt;
    line-height: 150%;
    user-select: text;
  }
  .text16pt {
    font-size: 16pt;
    line-height: 150%;
    user-select: text;
  }
  .text15pt {
    font-size: 15pt;
    line-height: 150%;
    user-select: text;
  }
  .text14pt {
    font-size: 14pt;
    line-height: 150%;
    user-select: text;
  }
  .text13pt {
    font-size: 13pt;
    line-height: 150%;
    user-select: text;
  }
  .text12pt {
    font-size: 12pt;
    line-height: 150%;
    user-select: text;
  }
  .text11pt {
    font-size: 11pt;
    line-height: 150%;
    user-select: text;
  }
  .text10pt {
    font-size: 10pt;
    line-height: 150%;
    user-select: text;
  }
  .text9pt {
    font-size: 9pt;
    line-height: 150%;
    user-select: text;
  }
  .text8pt {
    font-size: 8pt;
    line-height: 150%;
    user-select: text;
  }
  .text7pt {
    font-size: 7pt;
    line-height: 150%;
    user-select: text;
  }
  .text6pt {
    font-size: 6pt;
    line-height: 150%;
    user-select: text;
  }
  .text5pt {
    font-size: 5pt;
    line-height: 150%;
    user-select: text;
  }
  .text4pt {
    font-size: 4pt;
    line-height: 150%;
    user-select: text;
  }

  .topIcon {
    margin-right: 7px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    font-size: 10pt;
  }

  .book-name-header {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    color: black;
  }

  .chapter-header {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    color: black;
  }

  .uppercase {
    text-transform: uppercase;
    font-size: 10pt;
    margin: 0;
    padding: 0 0 0 5px;
  }

  div.copyRight {
    text-align: center;
    color: #8f8f8f;
  }

  div.content {
    position: relative;
    margin: auto;
    max-width: 1200px;
    width: auto;
  }

  .dark {
    background-color: black;
    color: white
  }

  .light {
    background-color: white;
    color: black;
  }

  .highlight {
    color: #488aff;
  }
}

.action-sheets-basic-page {
  .ion-md-share {
    color: #488aff;
  }
  .ion-md-copy {
    color: #00756b;
  }
  .ion-ios-share {
    color: #488aff;
  }
  .ion-ios-copy {
    color: #00756b;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #f53d3d;
  }
}

.toastCSS {
  text-align: center;
  > div{
    background-color: rgba(20,20,20,0.7)!important;
    width: 50%!important;
    border-radius: 10px!important;
  }
}
