page-password-reset {
  .scroll-content {
    align-content: center;
    flex-direction: column;
    text-align: center;
  }

  button {
    border-radius: 25px!important;
  }

  .icon {
    padding-right: 10px;
  }

  .webCard {
    position: relative;
    margin: auto;
    max-width: 500px;
    width: auto;
  }

  .mobileCard {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
    align-self: center;
  }

  .emailStyle {
    border-bottom: 1px solid gainsboro;
  }

  .resetBtnStyle {
    margin-top: 15px!important;
    background-color: #e06726;
    height: 50px
  }
}
