page-book-list {
  .list-book {
    display: block;
    padding: 20px;
    font-size: 13pt;
    font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    border-bottom: solid 1px #8f8f8f;
  }
}
