page-book-list {
  .light {
    background-color: white;
    .divStyle {
      display: block;
      padding: 20px;
      font-size: 13pt;
      font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
      border-bottom: solid 1px #8f8f8f;
      background-color: white;
      color: black;
    }
  }
  .dark {
    background-color: black;
    .divStyle {
      display: block;
      padding: 20px;
      font-size: 13pt;
      font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
      border-bottom: solid 1px #fff9cc;
      background-color: black;
      color: white;
    }
  }
}
