.title.title-md {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 70%;
  text-align: center;
}
.title.title-wp {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 70%;
  text-align: center;
}

.toastStyle {
  text-align: center;
  > div{
    background-color: rgba(20,20,20,0.7)!important;
    width: 70%!important;
    border-radius: 10px!important;
  }
}
