page-login {

  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  button {
    border-radius: 25px!important;
  }

  .icon {
    padding-right: 10px;
  }

  ion-card.card {
    box-shadow: none;
    position: relative;
  }
}
