<ion-header>
  <ion-navbar color="dark">
    <ion-title>Chapters</ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()" icon-only>
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let row of grid">
      <ion-col col-3 *ngFor="let col of row">
        <div class="hd-div" [class]="col.background + ' hd-div'" [ngStyle]="{'text-align': 'center'}" (click)="change(col.chap)">{{col.chap}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
