page-chapter {
  .hd-div {
    line-height:50px;
    width:50px;
    font-size: 14pt;
    border-radius: 50%;
    margin: 20px auto 0;
    position:relative;
  }

  .column {
    padding: 0;
  }

  .div-background {
    background-color: #ffc249;
  }

  .dark {
    background-color: black;
    color: white;
  }
  .light {
    background-color: white;
    color: black;
  }
}
