<ion-header>
  <ion-navbar color="dark">
    <ion-title>Chapters</ion-title>
    <ion-buttons left>
      <button ion-button (click)="close()" icon-only style="margin: 0px 10px">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [class]="backgroundStyle">
  <ion-grid>
    <ion-row *ngFor="let row of grid">
      <ion-col col-3 *ngFor="let col of row" class="column">
        <div [class]="col.background + ' hd-div'" [ngStyle]="{'text-align': 'center'}" (click)="change(col.chap)">{{col.chap}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
