<ion-scroll scrollX="true" style="width:100%; height:60px">
  <ion-row nowrap class="row-dots">
    <ion-col>
      <a (click)="changeHeaderBackground('light')" class="dot-light circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('hdGrey')" class="dot-grey circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('primary')" class="dot-primary circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('hdGreen')" class="dot-green circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('danger')" class="dot-red circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('hdBrown')" class="dot-brown circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('hdSkin')" class="dot-hdSkin circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('hdPurple')" class="dot-hdPurple circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('hdPink')" class="dot-hdPink circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('yellow')" class="dot-yellow circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('hdOrange')" class="dot-hdOrange circle"></a>
    </ion-col>
    <ion-col>
      <a (click)="changeHeaderBackground('dark')" class="dot-dark circle"></a>
    </ion-col>
  </ion-row>
</ion-scroll>
